body {
    width: 100;
    height: 100%;
    margin: 0;
    gap: 0;
}

.logonum1 {
    margin-right: 5rem;
    width: 5rem;
    height: 5rem;
}

.logonum11 {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem; /* Adjust margin as needed */
}

.toyotaheader1 {
    width: 100%;
    display: flex;
    align-items: center; /* Vertically center the content */
    padding: 10px; /* Add some padding for spacing */
}

.itemsproducthome {
    font-size: 10px;
    color: rgba(51, 51, 52, 0.885);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    gap: 4rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 40px;
    font-size: 8px;
    background-color: red;
    border: none;
    color: rgba(255, 255, 255, 0.944);
    border-radius: 10%;
    font-weight: bolder;
}

.rumionimage{
    width: 100%;
    height: 100%;
}
.toyotapropertyforcustomers{
    white-space: nowrap;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(17,1fr);
    background-color:rgba(245, 245, 220, 0.218)
}
.outermargin{
    margin-top: 2rem;
}
.toyotaproperty{
    width: 3rem;
    height: 3rem;
}
.namesoftoyotaproperty{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.696);
    font-family:'Times New Roman', Times, serif;
}
.toyotapropertyborder{
    border-right: solid 1px rgba(0, 0, 0, 0.726);
    display: inline-block;
}
.discoverrange{
    padding-left: 37rem;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.toyotacarcollection{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 10px;
}
.toyotacarcollection > *:nth-child(6n+7) {
    grid-row: span 2; /* This will make the 7th element and onward span two rows */
  }
  
  /* Add a 3rem margin at the bottom of the elements in the 6th column */
  .toyotacarcollection > *:nth-child(6n) {
    margin-bottom: 3rem;
  }
  
.rowscreatedforcarname{
    display:flex;
    flex-direction: column;
    gap: 10px;
}
.carcollectionsoftoyota{
    width: 7rem;
    height: 7rem;
}
figcaption{
    color: black;
    font-weight: bold;
    margin-left: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.awesome{
    padding-left: 40rem;
    font-weight: bold;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.newmargin{
    margin-bottom: 7rem;
}
.lastpartoftherumion{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.lastpartoftherumionphoto{
    width: 90%;
    height: 90%;
}
.contentoftheimage{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:0%;
}
.contentofthetoyotascursorpointofview{
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
button {
    text-wrap: nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    font-size: 13px;
    background-color: red;
    border: none;
    color: rgba(255, 255, 255, 0.944);
    border-radius: 0%;
    font-weight:900;
  }
.dateforresultoftoyotainrows {
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-gap: 10px;
    }
    
.dateforresultoftoyotainrows p {
        margin: 0;
        padding: 0;
    }    
.meantformarginalone{
    margin-left: 150px;
}
.dateforresultoftoyotaincolum {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, auto); /* Specify the number of columns and use "auto" for column sizing */
    grid-gap: 0; /* Set the gap between columns to 0 */
}

.dataoftoyotaavailability {
    width: auto;
    margin: 0;
    white-space: nowrap; /* Prevent text from breaking into multiple lines */
}


  .dateofoftoyotaavailabilityindepth{
    width: 700px;
    color: rgb(86, 84, 84);
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:300;
    border-bottom: solid 1px silver;
  }
  .dataoftoyotaavailability{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:300;
    font-size: 22px;

  }
  .holeclassforthecontentinformationfortoyotadetails {
    margin-top: 0%;
    align-items: start;
    justify-content: start;
    width: 70%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap:100px;
  }
  .date{
    font-weight: bold;
    font-size:50px;
    color: rgba(128, 126, 126, 0.782);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .month{
    font-weight: bold;
    font-size:25px;
    color: rgba(128, 126, 126, 0.782);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  .year{
    font-weight: bold;
    font-size:20px;
    color: rgba(128, 126, 126, 0.782);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .notesoftoyotaindia{
    justify-content: center;
    margin-left: 100px;
    display: flex;
    flex-direction:column;
    column-gap: 0px;
  }
  .notesoftoyota1{
    color: rgba(57, 56, 56, 0.955);
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
  }
  .notesoftoyota{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:30px;


  }
  .toyotalcoveragelogomandatory{
    background-color:rgba(128, 128, 128, 0.029);
    
  }
  .viewall{
    margin-left: 40rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:12px;
    font-weight:900 bold;
    color: black;

  }
  .alignmentoftoyota{
    margin-left: 40rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .toyotapropertyenviroinment{
    width: 100%;
    background-image: url('popup.png');
    background-repeat:no-repeat;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
  }
  .imagesandframesoftoyot{
    width: 20rem;
    height: 12rem;
  }
  .lastpartofthetoyota{
    background-color:rgba(0, 0, 0, 0.799);
    width: 100%;
    height:330px;
  }
  .legalinformationoftoyota{
    color:rgb(238, 233, 233);
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    list-style-type: none;
    width: 45%;
    display: grid;
    grid-template-columns: repeat(12,auto);
    text-wrap: nowrap;
  }
  .outermargin1{
    padding-top: 20px;
    padding-left: 20px;
  }
  .margim{
    padding-left: 300px;
  }
  .meantforborder{
    border-top: 1px solid gray;
    border-top-width: 80%;
  }
  .topsectionmodelclone{
    display:flex;
    flex-direction:column;
    gap: 5px;
  }
  .padding{
    padding-left: 40px;
    color:rgb(245, 245, 245);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 700;
  }
  .padding1{
    padding-left:0;
    color:rgba(245, 245, 245, 0.995);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 700;
  }
  .topsectionmodelclone{
    text-wrap: nowrap;
    padding-right: 25px;
    list-style-type: none;
    color:rgba(245, 245, 245, 0.704);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    font-weight: 550;
  }
  .imagelogofolastprocessoftoyota{
    width: 1.2rem;
    height: 1.2rem;
  }
  .topsectionmodelclone1{
    display:flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
  }
  .toyotaframeworkvisit{
    display: grid;
    grid-template-columns:repeat(2,1fr);
  }
  .onelast{
    width: 25rem;
    height: 34rem;
  }
  .toyotaassemblying-forthe-lastview-of{
    padding-left: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
  }
  .imageslastoftoyota{
    margin-top: 2rem;
  }
  .lastwidth{
    width: 20rem;
    height: 13rem;
  }